.page-body {
  @apply px-4 max-w-[1280px] min-h-[calc(100vh-8rem)] mx-auto w-full flex flex-col;
}
.page-body section {
  @apply mb-16;
}

.footer {
  padding-top: 4rem;
}

.caption {
  @apply text-neutral-500;
}

.contain {
  @apply bg-contain bg-no-repeat bg-center;
}

.response-grid {
  @apply grid gap-4 grid-cols-1 md:grid-cols-2 items-center content-center justify-center auto-rows-fr md:auto-cols-fr
}

.button {
  @apply cursor-pointer h-8 text-xs rounded-full hover:bg-accent px-4;
}

.icon-button {
  @apply cursor-pointer rounded-full size-8 hover:bg-accent;
}
.mixin {
  @apply bg-neutral-700 text-xs h-6 rounded-full px-2 hover:bg-amber-400 data-[state=on]:bg-amber-400 cursor-pointer;
}

@keyframes draw-left {
  from {
    max-width: 0;
  }
  to {
    max-width: 500px;
  }
}

@keyframes draw-left-back {
  from {
    max-width: 500px;
  }
  to {
    max-width: 0;
  }
}

.draw-left {
  @apply overflow-hidden rounded-r-none;
  transform-origin: right;
}

.draw-left[data-state="open"] {
  animation: draw-left 600ms ease-out forwards;
}

.draw-left[data-state="closed"] {
  animation: draw-left-back 200ms ease-in forwards;
}

@keyframes draw-up {
  from {
    max-height: 0;
  }
  to {
    max-height: 500px;
  }
}

@keyframes draw-down {
  from {
    max-height: 500px;
  }
  to {
    max-height: 0;
  }
}

.draw-up {
  transform-origin: bottom;
}

.draw-up[data-state="open"] {
  animation: draw-up 600ms ease-out forwards;
}

.draw-up[data-state="closed"] {
  animation: draw-up-back 200ms ease-in forwards;
}